enum class e_{{key}} {
{{#value.values}}
    {{key}},
{{/value.values}}
};

class {{key}} : public Domain<{{key}},e_{{key}}>
{
public:
    using t_dom = e_{{key}};
    constexpr static char _name[] = "{{key}}";
    constexpr static char _descr[] = "{{value.descr}}";
    constexpr static string_view _codes[] {
        {{#value.values}}
        "{{key}}",
        {{/value.values}}
        };
    constexpr static int _domainsz = sizeof(_codes)/sizeof(_codes[0]);
    constexpr static array<string_view,_domainsz> _vdescr {
        {{#value.values}}
        "{{value}}",
        {{/value.values}}
        };
    constexpr static frozen::unordered_map<frozen::string,t_dom,_domainsz> _codeval = {
        {{#value.values}}
        { "{{key}}", t_dom::{{key}} },
        {{/value.values}}
        };
};

