class {{key}} : public Struct<{{key}}>
{
public:
    constexpr static char _name[] = "{{key}}";
    constexpr static char _descr[] = "{{value.descr}}";
    constexpr static string_view _codes[] {
        {{#value.attribs}}
        "{{key}}",
        {{/value.attribs}}
        };
    constexpr static int _attribcnt = sizeof(_codes)/sizeof(_codes[0]);
    constexpr static array<string_view,_attribcnt> _adescr {
        {{#value.attribs}}
        "{{value.descr}}",
        {{/value.attribs}}
        };
{{#value.attribs}}{{>attrib.mustache}}{{/value.attribs}}
    const array<BaseAttrib*,_attribcnt> _attribs {
        {{#value.attribs}}
        &{{key}},
        {{/value.attribs}}
        };
};

