class {{key}} : public Union<{{key}},{{value.selectorTyp}},{{#value.cases}}{{#value}}{{sub_value}}{{^sub_is_last}},{{/sub_is_last}}{{/value}}{{^is_last}},{{/is_last}}{{/value.cases}}>
{
public:
    constexpr static char _name[] = "{{key}}";
    constexpr static char _descr[] = "{{value.descr}}";
    template <typename Callback> void dispatch(Callback cb)
    {
{{^value.selectorIsUnion}}
        using t_selectorEnum = e_{{value.selectorTyp}};
        switch( _selector.val() ) {
{{#value.cases}}
{{#value}}
        case t_selectorEnum::{{sub_key}}: return cb.template operator()<{{sub_value}}>();
{{/value}}
{{/value.cases}}
        default: return cb.template operator()<monostate>();
        }
{{/value.selectorIsUnion}}
{{#value.selectorIsUnion}}
        visit(overloaded{
        [&](monostate& curvariant) {
            return cb.template operator()<monostate>();
        },
{{#value.cases}}
        [&]({{key}}& curvariant) {
        using t_selectorEnum = e_{{key}};
            switch(curvariant.val()) {
{{#value}}
            case t_selectorEnum::{{sub_key}}: return cb.template operator()<{{sub_value}}>();
{{/value}}
            default: return cb.template operator()<monostate>();
            }
{{#value}}
{{/value}}
        },
{{/value.cases}}
        }, _selector._u);
{{/value.selectorIsUnion}}
    }
};

